/* CSS BODY */
body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: black;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
}

/* CSS SMALL NAV */

 #smallNav{
    display: flex;
    flex-direction: row;
    padding: 16px 4px;
    align-items: center;
    height: 40px;
    color: white;

    background: #003D81;
}

#smallNav ul li{
   display: inline-flex;
   margin-top: 20px;
   font-size: 18px;
}

.left-flex ul li img{
    color: white;
    margin-right: 10px;
}

.left-flex ul li{
    justify-content: end;
    text-decoration: none;
    color: white;
    margin-right: 64px;
}

.right-flex ul li img{
    color: white;
    margin-right: 10px;
}

.right-flex ul li a{
    justify-content: end;
    text-decoration: none;
    color: white;
    margin-right: 8px;
}

/* CSS NAVBAR*/

#nav{
    max-height: 100px;
}

#navv img{
    width: 192px;
    height: 48px;
    margin-left: -108px;
    margin-right: 24px;
}

.nav-link{
    color: black;
    font-weight: 600;
    font-size: small;
}

.dropdown-menu{
    background-color: #003D81;
}

.dropdown-menu a{
    color: white;
}

/* CSS CONTENT */
#homeImage img{
    height: 600px;
    width: 100%;
}

.cont{
    font-size: 24px;
    height: 44px;
    background-color: red;
    color: white;
    justify-items: center;
    display: block;
    text-align: center;
}

.cont a{
    text-decoration: none;
    color:#FFD600;
}

#sliderInfo{
    height: 450px;
    padding: 0px 64px;
}

.sliderInfo a h1{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
}

.sliderInfo a :hover{
    color: blue;
}

.sliderInfo p{
    font-size: 20px;
    font-weight: 400px;
}

.txtSlider{
    padding: 64px 0px;
}

.imgSlider{
    padding: 45px 12px;
}

.itemCont{
    text-align: justify;
    padding: 0px 64px;
}

.itemCont p{
    text-align: justify;
}

.itemCont a{
    text-align: justify;
    text-decoration: none;
    color: black;
}

.titleContent{
    padding: 16px 0px;
}

.titleContent h1{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}

#contentBerita{
    padding:24px 64px;
}

.contentBerita{
    margin-bottom: 16px;
}

.imgContent{
    margin-right: 32px;
}

.contentBerita h1{
    font-size: 28px;
    font-weight: 600;
}

.contentBerita h2{
    font-size: 20px;
    font-weight: 400;
}

.contentBerita p{
    font-size: 16px;
    font-weight: 300px;
    text-align: justify;
}

.txtContentBerita{
    margin: 10px 10px;
}

#contentWilayah{
    padding:32px 44px;
    text-align: center;
}

.itemWilayah a{
    font-size: 28px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

#imgEvent{
    max-height: 380px;
}

#contentLaporan{
    padding:40px 64px;
    text-align: center;
}

#contentLaporan a{
    text-decoration: none;
    color: black;
}

#contentLaporan a h1{
    font-size: 36px;
    font-weight: 500;
}

/* CSS FOOTER */

#footer{
    background-color: #003D81;
    padding: 32px 64px;
}

#footer h1{
    font-size: 24px;
    font-weight: 700;
    color: white;
}

#footer h2{
    font-size: 16px;
    font-weight: 600;
    color: white;
}

#footer p{
    font-size: 16px;
    font-weight: 400;
    color: white;
}

#footer a{
   text-decoration: none;
}

#contentFooter{
    background-color: #003D81;
}

.contentFt h1{
    margin-bottom: 20px;
}

.social{
    padding: 0px 16px;
}

hr.solid {
    border-top: 3px solid #bbb;
    margin-left:-50px;
    margin-right:-50px;
  }

.bottomFoot h4{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0px;
}

.social{
    padding-right: 8px;
}

/* .carousel-control-prev,
.carousel-control-next{
    margin-top: 100px;
    align-items: flex-end;; /* Aligns it at the bottom 
} */