body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: black;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}

 #smallNav{
    display: flex;
    flex-direction: row;
    padding: 16px 64px;
    align-items: center;
    height: 40px;
    color: white;

    background: #003D81;
}

#smallNav ul li{
   display: inline-flex;
   margin-top: 20px;
   font-size: 18px;
}

.left-flex ul li img{
    color: white;
    margin-right: 10px;
}

.left-flex ul li{
    justify-content: end;
    text-decoration: none;
    color: white;
    margin-right: 64px;
}

.right-flex ul li img{
    color: white;
    margin-right: 10px;
}

.right-flex ul li a{
    justify-content: end;
    text-decoration: none;
    color: white;
    margin-right: 8px;
}

#nav{
    max-height: 100px;
}

#navv img{
    width: 192px;
    height: 48px;
    margin-left: -48px;
    margin-right: 24px;
}

.nav-link{
    color: black;
    font-weight: 600;
    font-size: small;
}

#carouselExampleSlidesOnly img{
    height: 600px;
}

.cont{
    font-size: 24px;
    height: 44px;
    background-color: red;
    color: white;
    justify-items: center;
    display: block;
    text-align: center;
}

.cont a{
    text-decoration: none;
    color:#FFD600;
}

#sliderInfo{
    height: 450px;
    padding: 0px 64px;
    padding-top: 80px;
    padding-bottom: 80px;
}

#sliderInfo h1{
    font-size: 30px;
    font-weight: 600px;
}