<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/libraries/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/scss/main.scss">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  <div class="container">
    <nav class="row navbar navbar-expand-lg navbar-light bg-white">
      <a href="#" class="navbar-brand">
        <img src="../image/homePage/logoWeb.png" alt="LOGO JAKGO">
      </a>
      <button class="navbar-toggler navbar-toggler-right"
              type="button"
              data-toggle="collapse"
              data-target="#navb"
              >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-colapse" id="navb">
        <ul class="navbar-nav ml-auto mr-3">
          <li class="nav-item mx-md-2">
            <a href="" class="nav-link active">Beranda</a>
          </li>
          <li class="nav-item mx-md-2">
            <a href="" class="nav-link">Berita</a>
          </li>
          <li class="nav-item mx-md-2">
            <a href="" class="nav-link">Aduan Masyarakat</a>
          </li>
          <li class="nav-item-dropdown">
            <a href="" class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Profil DKI Jakarta</a>
            <div class="dropdown-menu">
              <a href="" class="dropdown-item">Sejarah Provinsi</a>
              <a href="" class="dropdown-item">Visi & Misi</a>
              <a href="" class="dropdown-item">Pimpinan</a>
              <a href="" class="dropdown-item">Alamat Kantor</a>
            </div>
          </li>
          <li class="nav-item mx-md-2">
            <a href="" class="nav-link">Informasi COVID-19</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
    <!-- <nav class="navbar navbar-expand-lg bg-light" id="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="/image/homePage/logoWeb.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Beranda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"  id="navbar">Berita</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Aduan Masyarakat</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profil DKI Jakarta
                </a>
                <ul class="dropdown-menu" id="dropdownProfil">
                  <li><a class="dropdown-item" href="#">Sejarah Provinsi</a></li>
                  <li><a class="dropdown-item" href="#">Visi & Misi</a></li>
                  <li><a class="dropdown-item" href="#">Pimpinan</a></li>
                  <li><a class="dropdown-item" href="#">Alamat Kantor</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profil DKI Jakarta</a>
              </li>
            </ul>    
          </div>
        </div>
      </nav> -->
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="1000">
            <img src="../image/homePage/carouselContent/HI.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../image/homePage/carouselContent/monas.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../image/homePage/carouselContent/halte.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      <div class="container-fluid" id="containerss">
        <h2>Jakarta sedang menghadapi COVID-19. Untuk informasi lebih lanjut,</h2>
      </div>
    <script src="../static/libraries/jquery/jquery-3.6.2.min.js"></script>
    <script src="../static/libraries/bootstrap/js/bootstrap.js"></script>
</body>
</html>